Flask
Flask-Cors
python-dotenv
pandas
numpy
scipy
scikit-learn
statsmodels
arch
xgboost
shap
matplotlib
plotly
openpyxl
requests
gunicorn
google-generativeai
graphviz
packaging
PyYAML
SQLAlchemy
Werkzeug
linearmodels